body{
    text-align: center;
    background-image: linear-gradient(to bottom left, black, #9A8D8D, rgb(209, 98, 98), rgba(179,0,0,0.8));
    margin: 30px;
    padding: 10px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style: none;
}
h1{
    text-shadow: 4px 4px 4px #D54848;
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}
nav{
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    background-color: rgba(187,1,36,.8);
    border: 3px dotted black;
    border-radius: 30px;
    color: rgb(67,62,62);
}
header{
    background-image: url("border.jpg");
    background-size: contain;
    color: rgb(242, 9, 9);
}
a:link{
    text-decoration: none;
    color: rgb(123,23,23);
}
a:hover, a:visited{
    color:#FDF2F2;
}
section{
    background-color: rgba(127, 127, 127, .58);
    font-family: 'Cinzel', serif;
}
aside{
    font-family: 'Orbitron', sans-serif;
    background-image: radial-gradient(rgba(127,127,127,.04),rgba(127,127,127,.49),rgba(108,3,10,.56),rgba(230,17,30,.71));
    border: 5px solid 8B8383;
    border-radius: 100%;
}
footer{
    font-family: 'Gamja Flower', cursive;
}
h3, h4{
    color: antiquewhite;
}