body{
    text-align: center;
    background-image: linear-gradient(to bottom left, black, #9A8D8D, rgb(209, 98, 98), rgba(179,0,0,0.8));
}
table{
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style-position: inside;
}
h1{
    text-shadow: 4px 4px 4px #D54848;
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}
nav{
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    background-color: rgba(187,1,36,.8);
    border: 3px dotted black;
    border-radius: 30px;
}
header{
    background-image: url("border.jpg");
    background-size: contain;
    color: rgb(242, 9, 9);
}