fieldset{
    width: 600px;
    margin: auto;
    text-align: center;
}

label{
    width: 15em;
    float: left;
    clear: left;
    text-align: right;
    padding-right: 1em;
}

input{
    float: left;
}

#output{
    text-align: center;
    position: relative;
}

body{
    font-size: 24px;
}